<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>TasteSeeker</h1>
	<h2>
		For each pair of images, click on the one you like best.
	</h2>
	<%= link_to "Start!", startquiz_path, class: "btn btn-large btn-primary" %>
</div>