<% provide(:title, 'How') %>

<div class="row">
	<div class="span8 offset1">
		<h3>
			How it works
		</h3>
		<br>
		<p>
			The data scientists and physicists on our team draw on their scientific experience to determine the unique personal style of each customer who visits your website. Our TasteSeeker algorithm automatically classifies each product in your inventory according to style. We then analyze customer behavior to determine which styles of products each customer will like best.
			<br><br>
			Below is an example of a "style graph" we created for an online retailer of women's clothing. Our network-based algorithm quickly identified the predominate styles associated with this particular brand. To learn more about how TasteSeeker works, <%=link_to "request a demo", requests_path %>.
		</p>
		<br>
	</div>
</div>

<%= image_tag "stylenet.png" %>