<% provide(:title, 'What') %>

<div class="row">
	<div class="span8 offset1">
		<h3>
			What we do
		</h3>
		<br>
		<p>
			TasteSeeker provides custom analytics for retailers of all sizes. Our recommendation engines boost sales by discovering the unique personal taste of each customer. Our San Francisco-based team includes experienced data scientists, physicists, and startup veterans--but we're also fashion lovers with a sense of fun and a commitment to great customer service!
			<br><br>
			Our case studies for online clothing retailers have shown a 40% increase in sales. Want to see what TasteSeeker can do for your business? <%= link_to "Request a demo", requests_path %>
		</p>
	</div>
</div>