<% provide(:title, 'Complete') %>
<div class="center hero-unit">
	<h1>Quiz Complete!</h1>
	<h2>
		Thank you for taking the TasteSeeker Style Quiz
	</h2>
	<% @results.each do |result| %>
		<% @tagpair = Tagpair.where("item = ?", result.win) %>
		<% @tagpair.each do |tagpair| %>
			<p>
				<%= tagpair.tag_a %>
				&
				<%= tagpair.tag_b %>
			</p>
		<% end %>
	<% end %>
</div>