<% provide(:title, 'Complete') %>
<div class="center hero-unit">
	<h1>Quiz Complete!</h1>
	<h2>Thank you for taking the TasteSeeker Style Quiz</h2>
</div>

<h3>Based on your results, we recommend these items for you:</h3>
<div class="viewgallerylist">
	<% @recs.each do |rec| %>
		<% @link_items = Tagpair.where("id = ?", rec) %>
		<% @link_items.each do |link_item| %>
			<div class="grow">
				<%= link_to image_tag("item#{rec}.png"), "#{link_item.link}", target: "_blank" %>
			</div>
		<% end %>
	<% end %>
</div>

<br><br><br><br>

<h3>Want more? Here are the other items you chose in your quiz:</h3>
<div class="viewgallerylist">
	<% @extras.each do |extra| %>
		<% @link_items = Tagpair.where("id = ?", extra) %>
		<% @link_items.each do |link_item| %>
			<div class="grow">
				<%= link_to image_tag("item#{extra}.png"), "#{link_item.link}", target: "_blank" %>
			</div>
		<% end %>
	<% end %>
</div>