<% provide(:title, 'Start') %>
<div class="center hero-unit">
	<h1>TasteSeeker</h1>
	<h2>
		Find your personal style
	</h2>
	<%= form_for(@test) do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.hidden_field :started, :value => true %>

		<%= f.submit "Start!", class: "btn btn-large btn-primary" %>
	<% end %>
</div>