<footer class="footer">
  <small>
    by susan
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Request a demo", requests_path %></li>
    </ul>
  </nav>
</footer>